//Widescreens
@include mediaXl {
    .projects {
        grid-template-columns: repeat(4, 1fr);
    }
}

//Desktop & Laptops
@include mediaLg {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}

//Tablets & Small Laptops
@include mediaMd {
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0)
        }
    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }

    .menu-branding {
        height: 24vh;
        transform: translate3d(100%, 0, 0);

        .portrait {
            width: 150px;
            height: 150px;
        }
    }

    .about-info {
        grid-template-areas:
            'bioimage'
            'bio'
            'job1'
            'job2'
            'job3';

        grid-template-columns: 1fr;
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }

    .boxes {

        div {
            font-size: 2rem;
            border: 3px #fff solid;
            padding: 1rem 1rem;
            margin-bottom: 3rem;
            @include easeOut;
        }
    }
}

//Smartphones
@include mediaSm {

    main#home h1 {
        margin-top: 10vh;
    }

    .projects {
        grid-template-columns: 1fr;

        img {
            width: 100%;
            height: 40vw;
            border: 3px #fff solid;
        }
    }

    .boxes {

        div {
            font-size: 1rem;
            border: 3px #fff solid;
            padding: 0.5rem 0.5rem;
            margin-bottom: 3rem;
            @include easeOut;
        }
    }

    main {
        .lg-heading {
            font-size: 3.2rem;
        }
    }

    #home>.lg-heading,
    #contact>.lg-heading {
        margin-top: 150px;
        margin-bottom: 90px;
    }

    #home>.sm-heading,
    #contact>.sm-heading {
        margin-bottom: 50px;
    }
}