@charset "UTF-8";
$maw: 841px;
$white: #ffffff;
$bgColour: #f0f0f0;
$textColor: #8d8d8d;
$black: #000000;
$red: #d64036;

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

%flex {
    display: flex;
    flex-wrap: wrap;
}

%ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

%h5 {
    color: $black;
    font-family: "TimesNewRomanPSMT";
    font-style: italic;
    font-size: 14px;
    font-weight: 800;
    line-height: 18px;
}

%h4 {
    color: $textColor;
    font-family: "TimesNewRomanPSMT";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

%h3 {
    color: $black;
    font-family: $Tahoma;
    font-size: 18px;
    font-weight: 700;
    line-height: 19px;
}

.container {
    max-width: $maw;
    margin: 0 auto;
    position: relative;
}