@charset "UTF-8";
@import "fonts";
@import "settings";

body {
    background-color: $white;
    padding-left: 10px;
    padding-right: 10px;
}

section.top {

    &>.container {
        @extend %flex;
        align-items: center;
        height: 100%;

        header {
            @extend %flex;
            flex-basis: 100%;
            justify-content: space-between;
            align-self: flex-start;
            margin-bottom: 20px;

            .logo {
                display: block;
                margin-top: 20px;
                width: 87px;
                height: 41px;
            }

            nav {

                ul {
                    @extend %ul,
                    %flex;
                    margin-top: 30px;

                    li {
                        margin-right: 30px;

                        &:last-child {
                            margin-right: 0;
                        }

                        a {
                            text-decoration: none;
                            font-family: $Tahoma;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 19px;
                            color: $black;

                            &:hover,
                            &:focus {
                                color: $red;
                                border-bottom: 2px solid $red;
                            }
                        }
                    }
                }
            }
        }
    }
}

section.main_content {
    &>.container {
        @extend %flex;
        justify-content: space-between;
        background: $bgColour;
        border-radius: 2px;
        margin-bottom: 5px;

        &>.main_content_item {
            width: 48.5%;
            padding-left: 10px;
            padding-top: 17px;
            padding-bottom: 15px;

            &:first-of-type {
                &:nth-last-of-type(2) {
                    align-self: center;
                }

                img {
                    max-width: 100%;
                    margin-left: 20px;
                    border-radius: 2px;
                    margin-right: 20px;
                }
            }

            h1 {
                width: 80%;
                color: $black;
                font-family: $Tahoma;
                font-size: 21px;
                font-weight: 700;
                line-height: 28px;
                margin: 0px;
            }

            h4 {
                @extend %h4;
                width: 92%;
                margin-top: 7px;
            }

            .btn_bottom {
                background-color: #da4137;
                border-radius: 2px;
                text-decoration: none;
                padding: 6px 23px;

                &:hover,
                &:focus {
                    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
                }

                span {
                    color: #fefefe;
                    font-family: $Tahoma;
                    font-size: 13px;
                    font-weight: 400;
                    text-align: center;
                }
            }
        }
    }
}

section.strategyCont {

    &>.container {
        @extend %flex;

        .strategyCont_snippets {
            @extend %flex;
            justify-content: space-around;
            width: 100%;

            .strategyCont_snippets_item {
                @extend %flex;

                .strategyCont_snippets_item_image {
                    width: 45px;
                    height: 45px;
                    background: no-repeat top center;
                    padding-right: 15px;
                }

                .strategyCont_snippets_item_title {
                    margin-top: -15px;
                    margin-bottom: 20px;

                    h5 {
                        @extend %h5;
                        width: 70%;
                    }
                }
            }
        }

        h3 {
            @extend %h3;
        }

        h4 {
            @extend %h4;
            margin-top: -12px;
            margin-bottom: 25px;
        }
    }
}

section.information {
    margin-bottom: 150px;

    &>.container {
        @extend %flex;

        h3 {
            @extend %h3;
            margin-top: 0px;
        }

        h4 {
            @extend %h4;
            margin-top: -12px;
        }

    }
}