@charset "UTF-8";


/*******************Here You Can Change Your Settings Styles***********/

$maw: 100%;

$violetText: #503392;
$blueText: #009dda;
$yellowText: #fff200;

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

ul {
    @extend %ul
}

.row {
    margin-left: auto;
    margin-right: auto;
}

.blue_color {
    color: $blueText
}

.yellow_color {
    color: #ffff00;
}

// %flex {
//     display: flex;
//     flex-wrap: wrap;
// }

%ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container-fluid {
    max-width: $maw;
    margin: 0 auto;
    position: relative;
    padding: 0%;
}

figure {

    .col,
    .col-lg-6 {
        padding-left: 0;
        padding-right: 0;
    }
}


   

//  .col-md-12{
// //     flex-grow: 0;
// //    // flex-shrink: 0;
//     // flex:0 ;
// }

// .about{

//     .col-12, .col-xl-6, .col-lg-6, .col-md-12, .col-sm-12{
//     padding-left: 0 !important;
//     padding-right: 0 !important;
//     margin-right: 0 !important;
//     margin-right: 0 !important;
//     }
// }