@charset "UTF-8";
// Your custom styles
@import "settings";
@import "fonts";

/*******************Here You Can Change Your Cite Main Styles***********/


/*******************Here You Can Change Your Navbar, Logo And Search Panel Styles***********/
.navbar {
  max-height: 100%;
  min-height: 70px;
  opacity: 0.75;
  background: linear-gradient(315deg, #a55c1b 0%, #000000 74%) !important;
  //background: linear-gradient(315deg, #bea67c 0%, #000000 74%) !important;
  //background: linear-gradient(315deg, #2d3436 0%, #000000 74%) !important;

  .navbar-collapse {
    min-height: 100%;
  }

  .line {
    margin-left: -55px;
    margin-bottom: -15px;
    background-color: $yellowText;
    width: 40px;
    height: 3.5px !important;
  }

  /*==========Logo===========*/
  .logo {
    width: 150px;
    height: 24px;
    margin-left: 470px;
    margin-top: -65px;

    & > a {
      font-family: Ubuntu, sans-serif;
      text-transform: uppercase;
      line-height: -1.2;
      text-align: left;
      color: $whiteText;
    }

    .logo_title {
      font-weight: bold;
      font-size: 23px;
      letter-spacing: 8.5px;
    }

    .logo_subtitle {
      font-size: 12px;
      margin-top: -45px;
    }
  }

  .navbar-toggler-icon {
    width: 23px;
    height: 16px;
  }

  .navbar-nav > li:not(last-child) {
    margin-right: 10px;
  }
}

/*==========Menu=v==========*/
.mainmenu ul {
  margin-left: 70px !important;
}

.mainmenu a,
.navbar-default .navbar-nav > li > a,
.mainmenu ul li a,
.navbar-expand-lg .navbar-nav .nav-link {
  font-family: Ubuntu, sans-serif !important;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  padding: 21px 25px;
  display: block !important;
}

.nav-link {
  color: $greyText !important;
}

.mainmenu li a:hover,
.mainmenu li a:focus,
.navbar-default .navbar-nav > .show > a,
.navbar-default .navbar-nav > .show > a:focus,
.navbar-default .navbar-nav > .show > a:hover {
  color: $yellowText !important;
  transform: scale(1.1);
  font-weight: 700;
  outline: 0;
}

/****************************Owl Carousel Banners************************/
.main-section {
  position: relative;
  margin: 0;
  padding: 0;
}

.main-demo {

  .slider {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    /*==========First banner=========*/
    &_first {
      background: url("../img/bg-1.png") center no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      position: relative;
      z-index: 1;
    }

    &_first:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 2;
      background: linear-gradient(315deg, #a55c1b 0%, #000000 74%);
      opacity: 0.8;
    }

    /*==========Second banner=========*/
    &_second {
      background: url("../img/bg-2.png") center no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      position: relative;
      z-index: 1;
    }

    &_second:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 2;
      background: linear-gradient(315deg, #2d3436 0%, #000000 74%);
      opacity: 0.8;
    }

    /*==========Third banner=========*/
    &_third {
      background: url("../img/bg-3.png") center no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      position: relative;
      z-index: 1;
    }

    &_third:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 2;
      background: linear-gradient(315deg, #bea67c 0%, #000000 74%);
      opacity: 0.8;
    }

    /*==========Title=========*/
    &_title {

      max-width: 894px;
      font-family: Ubuntu Bold, sans-serif;
      font-size: 67px;
      font-weight: bold;
      line-height: 1;
      letter-spacing: 10px;
      text-transform: uppercase;
      color: #ffffff;
      position: absolute;
      top: 180px;
      z-index: 3;
      text-align: left;
      margin-left: -55px;
      -moz-transform: matrix(1.00113006074945, 0, 0, 0.99961503881447, 0, 0);
      -webkit-transform: matrix(1.00113006074945, 0, 0, 0.99961503881447, 0, 0);
      -ms-transform: matrix(1.00113006074945, 0, 0, 0.99961503881447, 0, 0);

      span {
        color: $yellowText;
      }
    }

    /*==========Subtitle=========*/
    &_subtitle {
      max-width: 721px;
      color: #ffffff;
      font-family: Ubuntu, sans-serif;
      font-size: 55px;
      line-height: 1px;
      letter-spacing: 5px;
      font-weight: 300;
      text-transform: uppercase;
      position: absolute;
      top: 289px;
      z-index: 3;
      text-align: left;
      margin-right: -80px;
      -moz-transform: matrix(1.00113006074945, 0, 0, 0.99961503881447, 0, 0);
      -webkit-transform: matrix(1.00113006074945, 0, 0, 0.99961503881447, 0, 0);
      -ms-transform: matrix(1.00113006074945, 0, 0, 0.99961503881447, 0, 0);

      span {
        color: $whiteText;
      }

      &_second {
        margin-left: -100px;
      }

      &_third {
        margin-left: -270px;
      }
    }

    /*==========Buttons==========*/
    &_button {
      width: 274px;
      height: 54px;
      text-decoration: none !important;
      outline: hidden !important;
      position: relative;
      z-index: 3;

      &_more {
        background: url("../img/button_more.png") no-repeat center center/cover !important;
        border-top: 1.5px solid $whiteText;
        border-bottom: 1.5px solid $whiteText;
        top: 20px;

        &:hover, &:active {
          background: url("../img/button_more_hover.png") no-repeat center center/cover !important;
          border-top: 2px solid $yellowText;
          border-bottom: 2px solid $yellowText;
          transform: scale(1.1);
        }
      }

      &_purchase {
        background: url("../img/button_purchase.png") no-repeat center center/cover !important;
        border-top: 1.5px solid $whiteText;
        border-bottom: 1.5px solid $whiteText;
        top: 120px;

        &:hover, &:active {
          background: url("../img/button_purchase_hover.png") no-repeat center center/cover !important;
          border-top: 2px solid $whiteText;
          border-bottom: 2px solid $whiteText;
          transform: scale(1.1);
        }
      }
    }

    /*==========Mouse Scroll==========*/
    &_mouse_scroll {
      background: url("../img/mouse_scroll.png") no-repeat center top/cover !important;
      position: relative;
      right: -190px;
      bottom: -280px;
      width: 20px;
      max-width: 20px;
      height: 215px;
      z-index: 3;
      padding: 0;
      margin: 0;
    }

    /*==========Page Counter==========*/
    &_page_counter {
      position: relative;
      left: -50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      z-index: 3;

      &_line {
        margin-top: -30px;
        margin-bottom: 5px;
        background-color: $yellowText;
        height: 40px;
        width: 3.5px !important;
      }

      &_text {
        font-family: Ubuntu Bold, sans-serif;
        text-transform: uppercase;
        text-align: center;
        color: $yellowText;
        font-weight: bold;
        font-size: 27px;
        letter-spacing: 1.5px;
        transform: rotate(90deg);
      }

      &_dot {
        border-radius: 50%;
        background-color: $yellowText;
        margin-top: 22px;
        width: 10px;
        height: 10px;
      }
    }
  }


  /*==========Carousel==========*/

  button {
    border: 1px solid $yellowText !important;
  }

  button.owl-prev {
    background-image: url("../img/wood-left-arrow-sign-png.png") !important;
    background-size: cover !important;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 47.5%;
    right: 93.5%;
    margin: 0;
    padding: 0;
    outline: none !important;
    transition: 1s ease;
  }

  button.owl-next {
    background-image: url("../img/wood-right-arrow-sign-png.png") !important;
    background-size: cover !important;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 47.5%;
    left: 93.5%;
    margin: 0;
    padding: 0;
    outline: 0 !important;
    transition: 1s ease;
  }

  button.owl-next:hover, button.owl-next:active,
  button.owl-prev:hover, button.owl-prev:active {
    background-color: $yellowText !important;
    border: 1px solid $whiteText !important;
  }

  .carousel.owl-loaded {
    position: relative;
  }

  .owl-carousel button.owl-dot {
    padding: 0 !important;
    margin: 7px !important;
  }

  .owl-dots {
    visibility: hidden;
  }

  .owl-dot span {
    visibility: visible;
  }

  .owl-dot.active span {
    color: $yellowText !important;
    background-color: $yellowText !important;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 6px;
    height: 6px;
    margin: 5px -5px 5px 12px !important;
    position: absolute !important;
    bottom: 8.5% !important;
  }

  .owl-carousel {
    padding-bottom: 5px;
  }
}

/****************************Firewood Section************************/

#firewood {
  min-height: 150vh;
  max-height: 200vh;

  .firewood {
    //margin: 0 auto 0 auto;

    /*==========Firewood Section Title And Subtitles ==========*/
    &_line {
      background: url("../img/firewoods_lines.png") no-repeat center top /cover !important;
      position: relative;
      top: 70px;
      width: 152px;
      height: 59px;
      z-index: 5;
    }

    &_title {
      font-family: Ubuntu, sans-serif;
      font-size: 35px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
      color: #373737;
      letter-spacing: 1.4px;
      margin-bottom: 30px;
      z-index: 5;
    }

    &_subtitle_first {
      color: $greyText;
      font-family: Ubuntu, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.56px;
      margin-bottom: 0;
      z-index: 5;
    }

    &_subtitle_second {
      position: relative;
      left: 190px;
      max-width: 300px !important;
      color: $greyText;
      font-family: Ubuntu, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.56px;
      margin-top: 0;
      margin-bottom: 0;
      z-index: 5;
    }

    &_button_contacts {
      width: 157px;
      height: 21px;
      padding: 2px;
      margin: 0;
      position: relative;
      font-size: 14px;
      font-family: Ubuntu, sans-serif;
      font-weight: bold;
      color: rgb(0, 0, 0);
      text-transform: uppercase;
      line-height: 5;
      text-align: left;
      border-bottom: 2px solid $yellowText;
      z-index: 5;
      right: -200px;
      top: 5px;
      cursor: pointer;
      text-decoration: none;
      outline: hidden;
      transition: .3s;

      &:hover, &:active {
        border-bottom: none;
        border-left: 2px solid $yellowText;
        padding-left: 7px;
      }

      &_line {
        background: url("../img/button_contacts.png") no-repeat center center / cover !important;
        position: relative;
        width: 35px;
        height: 7px;
        z-index: 5;
        right: -305px;
        top: -32.5px;
      }
    }

    &_counter {
      position: relative;
      color: rgb(0, 0, 0);
      font-family: Ubuntu Bold, sans-serif;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      right: -45px;
      letter-spacing: 1.56px;
      margin-bottom: 0;
      z-index: 5;

      span {
        color: $yellowText;
      }

      &_line {
        margin-top: 50px;
        margin-bottom: 65px;
        background-color: $yellowText;
        height: 40px;
        width: 3.5px !important;
        position: relative;
        left: 55px;
        //top: 15px;
      }
    }
  }

  /*==========Firewood Section Carousel ==========*/
  .ipads {

    .ipads-demo {

      .slider {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 574px;
        height: 310px;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 40px;
        transition: 0.7s ease;
        z-index: 1;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          z-index: 2;
          background: $whiteText !important;
          opacity: 0.2;
        }
      }

      /*==========First banner=========*/
      .slider_first {
        background: url("../img/bg-3.png") no-repeat center center /cover;
        -webkit-background-size: cover;
        background-size: cover;
      }

      /*==========Second banner=========*/
      .slider_second {
        background: url("../img/firewoods_slider-2.png") no-repeat center center /cover;
        -webkit-background-size: cover;
        background-size: cover;
      }

      /*==========Third banner=========*/
      .slider_third {
        background: url("../img/firewoods_slider-3.png") no-repeat center center /cover;
        -webkit-background-size: cover;
        background-size: cover;
      }

      /*==========Fought banner=========*/
      .slider_fought {
        background: url("../img/bg-2.png") no-repeat center center /cover;
        -webkit-background-size: cover;
        background-size: cover;
      }

      /*==========Fifth banner=========*/
      .slider_fifth {
        background: url("../img/slider-5.png") no-repeat center center /cover;
        -webkit-background-size: cover;
        background-size: cover;
      }

      /*==========Six banner=========*/
      .slider_six {
        background: url("../img/slider-6.png") no-repeat center center /cover;
        -webkit-background-size: cover;
        background-size: cover;
      }

    }
  }
}

/*==========Firewood Section Blocks==========*/


/*==========Your Propose Blocks==========*/
.rewives {
  text-align: center;
  width: 180px;
  height: 270px;
  border: 1px solid #ebebeb;
  margin: 0 auto 10px auto;

  .rewives_icon {
    width: 60px;
    height: 55px;
    margin: 30px auto 55px auto;
  }

  .rewives_icon_heart {
    background: url('../img/heart.png') no-repeat center center;
  }

  .rewives_icon_question {
    background: url('../img/question.png') no-repeat center center;
  }

  .rewives_icon_laptop {
    background: url('../img/laptop.png') no-repeat center center;
  }

  .rewives_icon_star {
    background: url('../img/star.png') no-repeat center center;
  }

  .rewives_icon_flag {
    background: url('../img/flag.png') no-repeat center center;
  }


  h3.rewives_title {
    color: #232323;
    font-family: Lato Heavy;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    margin-bottom: 20px;
  }

  p.rewives_text {
    color: #373737;
    font-family: Lato Regular;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.56px;
  }

}


/*==========Your Propose Hover Blocks==========*/
.rewives .after {
  margin: -130px auto 0 auto;
  width: 180px;
  height: 149px;
  background-color: #503392;
  display: none;
  position: relative;
}

.rewives:hover .after {
  display: block;
}

.rewives .after .content {
  width: 74px;
  height: 12px;
  color: #ffffff;
  font-family: Lato Semibold;
  font-size: 14px;
  font-weight: 400;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  margin: 25px auto 30px auto;
}

.rewives .after .zoom {
  display: block;
  color: #DDD;
  background: url('../img/zoom.png') no-repeat center center;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 75px;
  left: 95px;
  cursor: pointer;
  z-index: 5;
}

.rewives .after .gears {
  display: block;
  color: #DDD;
  background: url('../img/gears.png') no-repeat center center;
  font-size: 48px;
  position: absolute;
  top: 68px;
  right: 95px;
  height: 50px;
  width: 45px;
  cursor: pointer;
  z-index: 5;
}

.gears:hover,
.zoom:hover {
  transform: scale(1.1);
}

/****************************Products Section************************/

#products {
  margin-top: 100px;
  background: url("../img/products_bg.png") no-repeat center/cover;
  padding-bottom: 80px;


  h2.products_text-center-title {
    color: #ffffff;
    font-family: Lato Regular;
    font-size: 35px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    margin: 50px auto 88px auto;
    z-index: 2;
  }

  .products_title-top {
    background: url("../img/products_title_bg.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: 1;
  }

  #carousel-with-lb {
    margin-top: 130px !important;
  }

  .darken-1 {
    background-color: #d7d7d7 !important;
  }

  .darken-1.active {
    background-color: #503392 !important;
  }

  .carousel-indicators li {
    width: 0.425rem;
    height: 0.425rem;

  }

  .carousel-inner figure {
    margin-bottom: 80px;
  }

  img.img-fluid {
    height: 135px !important;
    width: 135px !important;
    margin-right: auto;
    margin-left: auto;
    box-shadow: inset 0 -5px 9px rgba(1, 1, 1, 0.06);
    z-index: 2;
  }

  h3.products_layer_title {
    color: #232323;
    font-family: Lato Heavy;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.74px;
    z-index: 1;
  }

  p.products_layer_subtitle {
    color: $violetText;
    font-family: Lato Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.21px;
    z-index: 1;
  }

  p.products_layer_subtitle:hover {
    color: $blueText;
  }

  p.products_layer_subtitle-second {
    color: #373737;
    font-family: Lato Regular;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.21px;
    letter-spacing: 0.46px;
    z-index: 1;
  }

  .rgba-white-slight {
    z-index: 3;
    box-shadow: inset 0 -5px 9px rgba(1, 1, 1, 0.06);
    height: 145px !important;
    width: 165px !important;
  }

}

/****************************Contact Section************************/
/*==========Contact Section==========*/
#contact {

  h2.text-center-title {
    margin: 0 auto 20px auto;
  }

  .map-container {
    overflow: hidden;
    position: relative;
    min-height: 40rem;
    z-index: 1;
    margin-top: -420px;
    max-height: 100%;
  }

  .map-container iframe {
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
    z-index: 2;
    min-height: 40rem;
  }

  .map-container:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: #000000;
    opacity: 0.65;
  }

  .map-container:hover:after,
  .map-container:focus:after,
  .map-container:active:after {
    display: none;
    z-index: 1;
  }

  .forms-container {
    position: relative;
    top: 110px;
    background: #1a1a1a;
    opacity: 0.85;
    z-index: 10;
    padding-top: 45px;
    padding-bottom: 25px;

    label {
      color: #b7b7b7;
      font-family: Lato Regular;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      left: 1.2rem;
      bottom: 1.2rem;
    }

    input {
      color: #4ab5e3;
      font-family: Lato Regular;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
    }

    input.form-control {
      height: 30px !important;
      border: 1px solid #999998;
      margin: 0 0 -10px 0 !important;
    }

    input:active,
    input:focus,
    textarea:active,
    textarea:focus {
      background-color: #ffffff;
    }

    textarea {
      border: 1px solid #999998;
      color: #4ab5e3;
      height: 100px;
      margin: 0 !important;
      font-family: Lato Regular;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
    }

    p.contact_information {
      color: #f3f3f3;
      font-family: Lato Regular;
      font-size: 14px;
      margin-left: -30px;
      margin-bottom: 35px;
    }

    .text-center {
      padding-bottom: 20px;
      margin-top: -50px;
      margin-right: 5px;
    }

    input[type=submit] {
      width: 120px !important;
      height: 50px !important;
      background-color: #ffff00;
      color: #373737;
      font-family: Lato Regular;
      font-size: 16px;
      font-weight: 400;
    }

    .custom-checkbox > label {
      margin-left: -10px;
    }

    input[type=checkbox] + label:before {
      content: "\2713";
      color: transparent;
      display: inline-block;
      left: -1.5rem;
      border: 1px solid #999998 !important;
      font-size: 20px;
      margin: 0 8px 0 0;
      width: 1.3rem;
      height: auto;
      text-align: center;
      vertical-align: middle;
      transition: color ease .3s;
    }

    input[type=checkbox]:checked + label:before {
      color: #4ab5e3;
    }
  }
}

/****************************Footer************************/

footer {
  margin-bottom: -99999px;
  background-color: #1a1a1a;
  max-height: 100%;
  padding-bottom: 0;
  z-index: 100;

  .copyright_text {
    color: #7a7a7a;
    font-family: Lato Regular;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
  }

  .social-media_links-item a {
    padding: 0 15px;
    font-size: 18px;
    z-index: 11;
  }

  .fa-facebook-f {
    color: #6782b8 !important;
  }

  .fa-google-plus {
    color: #cc5f4b !important;
  }

  .fa-twitter {
    color: #71d6fa !important;
  }

  .fa-dribbble {
    color: #e9779d !important;
  }
}
