@charset "UTF-8";

@font-face {
    font-family: 'Ubuntu';
    src: url("../fonts/ubuntu/Ubuntu-L.ttf") format("ttf"),
    url("../fonts/ubuntu/Ubuntu-L.ttf") format("truetype"),
}

@font-face {
    font-family: 'Ubuntu Bold';
    src: url("../fonts/ubuntu/Ubuntu-B.ttf") format("ttf"),
    url("../fonts/ubuntu/Ubuntu-B.ttf") format("truetype"),
}

@font-face {
    font-family: 'Ubuntu Light';
    src: url("../fonts/ubuntu/Ubuntu-R.ttf") format("ttf"),
    url("../fonts/ubuntu/Ubuntu-R.ttf") format("truetype"),
}
