@charset "UTF-8";

@font-face {
    font-family: 'BEYNO';
    src: url("../fonts/BEYNO/BEYNO.otf") format("otf"),
        url("../fonts/BEYNO/BEYNO.ttf") format("truetype"),
}

@font-face {
    font-family: 'Lato Light';
    src: url("../fonts/Lato2OFL/Lato-Light.ttf") format("ttf"),
        url("../fonts/Lato2OFL/Lato-Light.ttf") format("truetype"),
}

@font-face {
    font-family: 'Lato Regular';
    src: url("../fonts/Lato2OFL/Lato-Regular.ttf") format("ttf"),
        url("../fonts/Lato2OFL/Lato-Regular.ttf") format("truetype"),
}
@font-face {
    font-family: 'Lato Bold';
    src: url("../fonts/Lato2OFL/Lato-Bold.ttf") format("ttf"),
        url("../fonts/Lato2OFL/Lato-Bold.ttf") format("truetype"),
}

@font-face {
    font-family: 'Lato';
    src: url("../fonts/Lato2OFL/Lato-Black.ttf") format("ttf"),
        url("../fonts/Lato2OFL/Lato-Black.ttf") format("truetype"),
}

@font-face {
    font-family: 'Lato Regular';
    src: url("../fonts/Lato2OFL/Lato-Regular.ttf") format("ttf"),
        url("../fonts/Lato2OFL/Lato-Regular.ttf") format("truetype"),
}

@font-face {
    font-family: 'Lato Semibold';
    src: url("../fonts/Lato2OFL/Lato-Semibold.ttf") format("ttf"),
        url("../fonts/Lato2OFL/Lato-Semibold.ttf") format("truetype"),
}

@font-face {
    font-family: 'Lato Heavy';
    src: url("../fonts/Lato2OFL/Lato-Heavy.ttf") format("ttf"),
        url("../fonts/Lato2OFL/Lato-Heavy.ttf") format("truetype"),
}

@font-face {
    font-family: 'Ubuntu';
    src: url("../fonts/ubuntu/Ubuntu-L.ttf") format("ttf"),
    url("../fonts/ubuntu/Ubuntu-L.ttf") format("truetype"),
}

@font-face {
    font-family: 'Ubuntu Bold';
    src: url("../fonts/ubuntu/Ubuntu-B.ttf") format("ttf"),
    url("../fonts/ubuntu/Ubuntu-B.ttf") format("truetype"),
}
