@charset "UTF-8";

/*******************Here You Can Change Your Settings Styles***********/

$maw: 100%;

$violetText: #503392;
$blueText: #ffffff;
$yellowText: #bea67c;
$whiteText: #ffffff;
$greyText: #7e7e7e;
$paragraphText: rgb(70, 70, 70);

html,
body {
  font-family: Ubuntu, sans-serif;
  background: url("../img/main_bg.png") center /cover !important;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  z-index: -2;
}

a {
  text-decoration: none;
}

ul {
  @extend %ul
}

.row {
  margin-left: auto;
  margin-right: auto;
}

.yellow_color {
  color: $yellowText;
}

.not_active_dot {
  background-color: $paragraphText !important;
}

%ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container-fluid {
  max-width: $maw;
  margin: 0 auto;
  position: relative;
  padding: 0;
}

figure {
  .col,
  .col-lg-6 {
    padding-left: 0;
    padding-right: 0;
  }
}

