@charset "UTF-8";
@import "settings";
@import "fonts";

/*******************Here You Can Change Your Adaptive Styles***********/

@media screen and (max-width: 1366px) {
  .navbar-nav {
    margin-left: 312px !important;
  }
}

@media screen and (max-width: 1240px) {
  .navbar-nav {
    margin-left: 112px !important;
  }

  button.owl-prev {
    top: 43.5% !important;
    right: 87.5% !important;

  }

  button.owl-next {
    top: 43.5% !important;
    left: 87.5% !important;
  }

  img.img-fluid {
    height: 7.5rem !important;
    width: 7.5rem !important;
  }

  .slider h1.main_title {
    font-size: 54px !important;
    top: 90px;
  }

  button.owl-prev {
    top: 65.5% !important;
    right: 80.5% !important;
  }

  button.owl-next {
    top: 65.5% !important;
    left: 80.5% !important;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 6px;
    height: 6px;
    margin: 5px 6px !important;
    position: absolute !important;
    top: 78.5% !important;
  }
}

@media screen and (max-width: 1199px) {

  #about {
    margin-bottom: 70px;

    .ipads {
      margin-top: -70px;

      .ipads-demo {

        .slider {
          margin: 0 auto !important;
        }
      }

      .slider_first,
      .slider_second,
      .slider_third {
        width: 310px;
        height: 515px;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .logo {
    margin-left: 350px !important;
  }
}

@media screen and (max-width: 991px) {

  .navbar {
    background: rgba(255, 255, 255, 0.774) !important;

    .navbar-nav {
      margin-left: 0 !important;
      background: linear-gradient(315deg, #bea67c 0%, #000000 74%) !important;
    }

    .logo {
      margin-left: auto !important;
    }

    .navbar-collapse {
      height: 100%;
    }

  }

  .mainmenu .collapse ul ul,
  .mainmenu .collapse ul ul.dropdown-menu {
    width: 15%;
    margin-top: -130px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .mainmenu .collapse ul ul ul,
  .mainmenu .collapse ul ul ul.dropdown-menu {
    width: 15%;
    margin-top: 10px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .active {
    color: white !important;
  }

  div.scrollup {
    position: fixed;
    /* фиксированная позиция */
    color: #fff;
    /* цвет текста */
    background: #aaa7a7;
    /* цвет заднего фона */
    right: 20px;
    /* расстояние от правого края */
    bottom: 100px;
    /* расстояние от нижнего края */
    padding: 10px 16px;
    /* отступы до содержимого блока */
    font-size: 22px;
    /* размер шрифта (иконки) */
    border-radius: 50%;
    /* скругление */
    cursor: pointer;
    /* форма курсора */
    display: none;
    /* не отображать элемент */
    text-align: center;
    /*выравнивание содержимого элемента по центру */
    z-index: 15;
    opacity: 0.8;
  }

  .mainmenu .collapse ul ul.dropdown-menu {
    display: none;
  }

}

@media screen and (min-width: 993px) {

  .mainmenu .collapse ul li:hover > ul {
    display: block
  }

  .mainmenu .collapse ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    margin-top: 5px;
  }

  /*******/
  .mainmenu .collapse ul ul li {
    position: relative
  }

  .mainmenu .collapse ul ul li:hover > ul {
    display: block
  }

  .mainmenu .collapse ul ul ul {
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
  }

  .ipads {
    .slider {
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        width: 884px !important;

        &:after {
          display: none;
        }
      }
    }
  }

  div.scrollup {
    height: 40px;
    width: 40px;
    position: fixed;
    /* фиксированная позиция */
    color: #fff;
    /* цвет текста */
    background-image: url("../img/wooden_arrow_up.png") !important;
    background-size: cover !important;
    background-color: $yellowText !important;
    border: 1px solid $whiteText !important;
    transition: .75s ease;
    /* цвет заднего фона */
    right: 60px;
    /* расстояние от правого края */
    bottom: 60px;
    /* расстояние от нижнего края */
    padding: 4px 10px;
    /* отступы до содержимого блока */
    font-size: 20px;
    /* размер шрифта (иконки) */
    /* скругление верхнего левого угла */
    /* скругление верхнего правого угла */
    /* размер шрифта (иконки) */
    /* скругление нижнего левого угла */
    border-radius: 4px;
    /* скругление нижнего правого угла */
    cursor: pointer;
    /* форма курсора */
    display: none;
    /* не отображать элемент */
    text-align: center;
    /*выравнивание содержимого элемента по центру */
    z-index: 10;
  }

  div.scrollup:hover, div.scrollup:active {
    transform: scale(1.2);
    background-color: $whiteText !important;
    border: 1px solid $yellowText !important;
  }

  .fa-chevron-up:before {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .main-demo {
    .slider {

      &_title {
        max-width: 500px !important;
        font-size: 54px !important;
        top: 180px !important;
      }

      &_page_counter {
        display: none !important;
      }

      &_button {

        &_more {
          top: 50px !important;
          left: -30px !important;
        }

        &_purchase {
          top: 0 !important;
          left: 30px !important;
        }
      }
    }

    .carousel-inner figure {
      margin-bottom: 50px !important;
      padding-bottom: 0 !important;
    }
  }

  .firewood {

    &_subtitle_second {
      left: 180px !important;

      &_purchase {
        left: 80px !important;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .logo {
    margin-top: -75px !important;
    padding-bottom: 15px !important;
  }

  .line {
    margin-bottom: -5px !important;
  }

  .main-demo {
    .slider {
      &_title {
        font-size: 42px !important;
        letter-spacing: 4.5px !important;
        margin-left: auto !important;
        margin-right: auto !important;
      }

      &_subtitle {
        font-size: 30px !important;
        letter-spacing: 2.0px !important;
        margin-left: auto !important;
        margin-right: auto !important;
      }

      &_button {
        width: 185px !important;
        height: 30px !important;
      }

      &_mouse_scroll {
        display: none !important;
      }
    }
  }

  .firewood {

    &_title {
      font-size: 25px !important;
      margin-top: 50px !important;
    }

    &_subtitle_first, &_subtitle_second {
      left: 57px !important;
    }

    &_line {
      display: none !important;

      &_second {
        display: none !important;
      }
    }

    &_button_contacts {
      right: -170px !important;
      top: 5px;

      &_line {
        right: -275px !important;
      }
    }

    &_counter {
      display: none !important;

      &_line {
        display: none !important;
      }
    }
  }

  .info {

   .line {
     margin-bottom: 10px !important;
    }

    &_text-center-title {
      font-size: 25px !important;
      line-height: 1.5 !important;
      margin-top: 40px !important;
      margin-left: auto !important;
      margin-right: auto !important;
    }

    &_subtitle {
      font-size: 14px;
      line-height: 1 !important;
    }

    .carousel-inner figure {
      margin-bottom: 20px !important;
    }

    &_counter {
      display: none !important;
    }

    &_counter_line {
      display: none !important;
    }
  }

  .info_layer_subtitle {
    margin-top: 15px !important;
  }

  #about {
    margin-top: 20px !important;

    .about {
      width: 100% !important;
      height: 100% !important;

      &_content {
        margin-top: 0 !important;
        left: -75px !important;


        &_title {
          font-size: 40px;
          left: 75px;
        }

        &_subtitle {
          //left: 0 !important;

        }

        &_text {
          margin: 0 auto;
          padding: 0 15px;
          font-size: 12px;
          font-family: Ubuntu Light, sans-serif;
          color: rgb(255, 255, 255);
          position: relative;
          left: 75px;
          top: -34px;
          z-index: 2;
        }
      }
    }
  }
}


@media screen and (max-width: 450px) {
  .logo {

    &_title {
      font-size: 20px !important;
    }

    &_subtitle {
      font-size: 10px !important;
      margin-top: -40px !important;
    }
  }

  .line {
    margin-bottom: -2px !important;
  }

  .firewood {

    &_title {
      margin-top: 50px !important;
    }

    &_subtitle_first, &_subtitle_second {
      max-width: 277px !important;
      left: 0 !important;

      &_purchase {
        left: 10px !important;
      }
    }

    &_line {
      display: none !important;

      &_second {
        display: none !important;
      }
    }

    &_button_contacts {
      right: -170px !important;
      top: 5px;

      &:hover, &:active {
        border-bottom: 2px solid $yellowText !important;
        border-left: none !important;
        padding-left: 0 !important;
      }

      &_line {
        right: -275px !important;
      }
    }

    &_counter {
      display: none !important;

      &_line {
        display: none !important;
      }
    }

    &_slider {
      width: 300px !important;
      height: 230px !important;
    }
  }
}
