@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
/* Десктопы и лэптопы ----------- */
@media only screen and (min-width: 1224px) {

  header {
    grid-template-columns: 1fr 4fr 1fr;
    padding: 10px;

    .menu {

      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr;
      grid-column: 1 / 5;

      .menu-link {
        margin: 0 40px !important;
      }

      .logo img {
        width: 15vh;
        top: 20px;
        margin: 0 auto;
      }

    }
  }

  .work {
    .work-item {
      margin: 5px;

      .product-subtitle {
        font-size: 12px;
      }
    }

    .work-item_3 {

      &:nth-child(2) {
        margin-bottom: -150px;
      }

      &:nth-child(3) {
        display: none !important;
      }
    }
  }

  .about {

    .about-icon {
      margin-top: 50px;
    }
  }

}

/* iPad’ы (книжная ориентация) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

  header {
    height: 50vh;

  }

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  header {
    .menu {

      .menu-link {
        margin: 0 20px !important;
      }

      .logo img {
        width: 10vh;
        top: 10px;
      }

    }
  }

  .work {

    .work-item {

      .small-icon {
        margin-top: 50px;
      }

    }

    .product-1 {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);

      .work-item {

        &:nth-child(1) {
          grid-column: 1 / 3;
          grid-row: 1
        }

        &:nth-child(2) {
          grid-column: 1 / 2;
          grid-row: 2;
          margin-top: 50px;
          margin-bottom: 100px;
        }

        &:nth-child(3) {
          grid-column: 2 / 4;
          grid-row: 2
        }
      }

    }

    .product-2 {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);

      .work-item {

        &:nth-child(1) {
          grid-column: 1 / 3;
          grid-row: 1
        }

        &:nth-child(2) {
          grid-column: 2 / 4;
          grid-row: 2;
          margin-top: 50px;
          margin-bottom: 120px;
        }

        &:nth-child(3) {
          grid-column: 1 / 2;
          grid-row: 2;
        }
      }

    }

    .product-3 {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);

      .work-item {

        &:nth-child(1) {
          grid-column: 1 / 4;
          grid-row: 1
        }

        &:nth-child(2) {
          margin-top: 80px;
          margin-bottom: 140px;
          grid-column: 2 / 4;
          grid-row: 2
        }

        &:nth-child(3) {
          grid-column: 1 / 2;
          grid-row: 2
        }

        &:nth-child(4) {
          grid-column: 1 / 4;
          grid-row: 3;
          padding: 200px;

          &:after {
            content: '';
            left: 73.7%;
          }
        }
      }

    }

    .work-item_3 {

      &:nth-child(2) {
        grid-column: 1 / 3 !important;
      }

      &:nth-child(3) {
        display: none !important;
      }
    }

  }

}

.shop {

  .shop-item {
    margin: 5px;
  }

  .shop-item-list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-height: 100vh;

    .shop-item {
      &:nth-child(1) {
        grid-column: 1;
      }

      &:nth-child(2) {
        grid-column: 2;
      }

      &:nth-child(3) {
        grid-column: 3;
        grid-row: 1
      }

      &:nth-child(4) {
        grid-column: 4;
        grid-row: 1
      }

      &:nth-child(5) {
        grid-column: 1;
        grid-row: 2
      }

      &:nth-child(6) {
        grid-column: 2;
        grid-row: 2
      }

      &:nth-child(7) {
        grid-column: 3;
        grid-row: 2
      }

      &:nth-child(8) {
        grid-column: 4;
        grid-row: 2
      }

    }

  }
}

.twitter {
  margin-top: 180px;

  .main-demo .owl-carousel .slider {
    padding-top: 50px;

  }
}

.i-frame {
  background: #9A9898;

  .player {
    width: 100%;
    height: 50vh;

    .video {
      height: 50vh;
      width: 80vw;
    }
  }
}


/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

  .about_header {
    margin-bottom: 15px;
  }

  .menu {

    margin: 10px auto;
    display: flex;
    flex-direction: column;
    background: white;
    height: 97.5vh;
    border: 2px solid #1E4B9E;
    border-radius: 10px;
    opacity: 0.7;

    .menu-link {
      border-bottom: 2px solid #1E4B9E;
      border-radius: 10px;
      position: relative;
      padding-top: 40px !important;
      font-size: 15px !important;
      right: -100px !important;

      &:nth-child(2) {
        right: -115px !important;
      }

      &:nth-child(4) {
        right: -92.5px !important;
      }
    }


    .logo img {
      position: relative;
      width: 25vh !important;
      height: auto;
      top: -27.5px;
      right: 0;
      border: 2px solid #1E4B9E;
      border-radius: 5px;
      margin: 0 auto;
    }
  }

  .main {
    .main-title {
      font-size: 30px;
    }

    .main-subtitle {
      padding-bottom: 20px;
    }
  }


  .about {
    grid-template-columns: 6fr;
    padding: 0 15px;

    .item_3 {
      width: 360px;
      height: 144px;
    }

  }

  .work {

    .work-item {
      min-height: auto;
      margin: 5px;
      padding: 15px !important;

      .small-icon {
        margin-top: 50px;
      }
    }

    .product-1 {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);

      .work-item {


        &:nth-child(1) {
          grid-column: 1;
          grid-row: 1
        }

        &:nth-child(2) {
          grid-column: 1;
          grid-row: 2;
          margin: 0;
          padding: 0 10px;

        }

        &:nth-child(3) {
          grid-column: 1;
          grid-row: 3
        }
      }

      .product-subtitle_3 {
        margin-bottom: -280px;
        padding-bottom: 20px !important;
      }

      .work-item-line_3 {
        display: none;
      }

    }


    .product-2 {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);

      .work-item {

        &:nth-child(1) {
          grid-column: 1;
          grid-row: 1
        }

        &:nth-child(2) {
          grid-column: 1;
          grid-row: 2;
          margin-top: 0;
          margin-bottom: 20px;
        }

        &:nth-child(3) {
          grid-column: 1;
          grid-row: 3
        }
      }

    }

    .product-3 {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      margin-bottom: 250px;

      .work-item {

        &:nth-child(1) {
          grid-column: 1;
          grid-row: 1
        }

        &:nth-child(2) {
          margin-top: 0;
          margin-bottom: 20px;
          grid-column: 1;
          grid-row: 2
        }

        &:nth-child(3) {
          grid-column: 1;
          grid-row: 3;
          height: 140px !important;

        }

        &:nth-child(4) {
          grid-column: 1;
          grid-row: 4;
          height: 140px !important;

          &:after {
            content: '';
            position: absolute;
            top: -120px !important;
            left: 48.5%;
          }
        }
      }

    }

    .work-item-line, .logo-small_icon {
      display: none;
    }

  }

  .shop {

    .shop-item-list {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      max-height: 100vh;

      .shop-item {
        &:nth-child(1) {
          grid-column: 1;
        }

        &:nth-child(2) {
          grid-column: 2;
        }

        &:nth-child(3) {
          grid-column: 1;
          grid-row: 2
        }

        &:nth-child(4) {
          grid-column: 2;
          grid-row: 2
        }

        &:nth-child(5) {
          grid-column: 1;
          grid-row: 3
        }

        &:nth-child(6) {
          grid-column: 2;
          grid-row: 3
        }

        &:nth-child(7) {
          grid-column: 1;
          grid-row: 4
        }

        &:nth-child(8) {
          grid-column: 2;
          grid-row: 4
        }

      }

    }
  }

  .discover {
    margin-top: 245px;
  }

  .twitter {
    margin-top: 0;
  }

  .about {
    .logo-small_icon {
      display: none;
    }
  }

  .about_contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    justify-self: center;

  }

  .i-frame {
    background: #9A9898;

    .player {
      height: 25vh;
      width: 100%;

      .video {
        height: 25vh;
        width: 95vw;
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

  .work-item {

    &:nth-child(1) {
      grid-column: 1;
      grid-row: 1
    }

    &:nth-child(2) {
      margin-top: 0;
      margin-bottom: 50px;
      grid-column: 2;
      grid-row: 2
    }
  }

  .shop {

    .shop-item-list {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(8, 1fr);
      max-height: 100vh;

      .shop-item {
        &:nth-child(1) {
          grid-column: 1;
        }

        &:nth-child(2) {
          grid-column: 1;
          grid-row: 2
        }

        &:nth-child(3) {
          grid-column: 1;
          grid-row: 3
        }

        &:nth-child(4) {
          grid-column: 1;
          grid-row: 4
        }

        &:nth-child(5) {
          grid-column: 1;
          grid-row: 5
        }

        &:nth-child(6) {
          grid-column: 1;
          grid-row: 6
        }

        &:nth-child(7) {
          grid-column: 1;
          grid-row: 7
        }

        &:nth-child(8) {
          //grid-column: 1;
          //grid-row: 8
          display: none;
        }

      }

    }

  }

  .discover {
    margin-top: 1088px;
  }

  footer {
    padding: 10px;

    .address {
      font-size: 11px;
    }

    .social {
      display: grid;
      justify-content: center;
      align-items: center;
    }

    .credits {
      display: flex;
      flex-direction: column;

      .credits_title {
        font-size: 11px;
      }
    }

  }
}

