@charset "UTF-8";

@font-face {
    font-family: 'TimesNewRomanPS-ItalicMT';
    src: local('TimesNewRomanPS-ItalicMT'), url('https://nomail.com.ua/files/woff/f1d3dce2c0eda3f849a0a3b38dfae77d.woff') format('woff');
}

@font-face {
    font-family: 'TimesNewRomanPS-ItalicMT';
    src: local('TimesNewRomanPS-ItalicMT'), url('https://nomail.com.ua/files/woff/f1d3dce2c0eda3f849a0a3b38dfae77d.woff') format('woff');
}

$Tahoma:'Tahoma', sans-serif;