@charset "UTF-8";

@font-face {
    font-family: 'TimesNewRomanPSMT';
    src: local('TimesNewRomanPSMT'), url('https://nomail.com.ua/files/woff/61c81a93fc1cbc8a8a687477b78a6795.woff') format('woff');
}

$Tahoma:'Tahoma', sans-serif;